@import '../../styles/_variables.scss';

.main {
  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__dialogs {
    width: 300px;
    height: 100%;
    border-right: 1px solid $lightGray;
  }
}

.dialogs {
  &__header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightGray;
  }

  &__title {
    display: flex;
    align-items: center;

    &--icon {
      margin-right: 5px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__img {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__search {
    padding: 15px;
  }

  &__list {
    padding: 15px;
  }
}
