.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    &--symbol {
      color: #fff;
      text-align: center;
      font-weight: 600;
      line-height: 38px;
      font-size: 18px;
    }
  }