@import '../../styles/_variables.scss';

.message {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  margin-bottom: 25px;
  max-width: 400px;

  &--isme {
    flex-direction: row-reverse;
    margin-left: auto;

    .message__avatar {
      margin-left: 12px;
      margin-right: 0;
    }
  }

  &__avatar {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    margin-right: 12px;
    margin-bottom: 26px;
  }

  &__buble {
    &--isme {
      background: #ffffff;
      border: 1px solid #60bdff;
      border-radius: 8px 8px 0 8px;
      padding: 10px;

      p {
        color: #202020;
      }
    }
    &--notme {
      background: $blue;
      border-radius: 8px 8px 8px 0;
      padding: 10px;
    }
  }

  &__text {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 18px;
  }

  &__date {
    font-size: 12px;
    color: gray;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 5px 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
